@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

html{
    background-image: url(../images/27.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
body {
    display: block;
    text-align: center;
    background-color: wheat;
    width: 880px;
    height: auto;
    margin:0 auto;
}
body article{
    display: block;
    text-align: center;
    width: 800px;
    height: auto;
}
#top-img {
    
    width: 880px;
    height: 280px;
}

body form {
    background-color: #ccff99;
}

header nav{
    position: absolute;
    top: 5px;
    right: 0;
    width: 200px;
}
header nav ul{
    margin: 0;
    padding: 0;

}
header nav ul li{
    display: inline;
}