@charset "UTF-8";

html{
    /*font-size: 100%; /*100%=16px */
    font-size:14px;
}
body{
    background-color: rgb(220,220,255);
    margin: 0;
    padding: 0;
    font-size: 14px;       
    }

p{
    font-size: 1.25rem;
}

#wrapper{
    border-left: solid 5px black;
    border-right: solid 5px black;
    width: 80%;
    min-width: 920px;
    margin:0 auto;
}
header{
    background-color: #ffcccc;
    position: relative;
}

/*upprt social navigation*/
header nav{
    position: absolute;
    top: 5px;
    right: 0;
    width: 200px;
}
header nav ul{
    margin: 0;
    padding: 0;

}
header nav ul li{
    display: inline;
}
/*
header nav ul a:link{}

header img{
}
*/
header h1{
    position: absolute;
    left: 200px;
    top:50px;

}

nav.mainNav{
    background-color: #d9ffcc;
}
nav.mainNav ul{
    padding: 0;
    margin: 0;
    text-align: center;
}
nav.mainNav ul li{
    display: inline-block;
    background-color: coral;
    margin: 5px;
    padding: 5px;
    width: 150px;
}
nav.mainNav ul li a:link, nav.mainNav ul li a:visited{
    color: cyan;
    background-color: darkgray;
    text-decoration: none;
    padding: 3px;
    width: 125px;
    display: inline-block;
}
nav.mainNav ul li a:hover{
    color: darkgray;
    background-color: cyan;
}
/* nav.mainNav ul li a:active{} */
/*nav.mainNav ul li a:visited{} - gives purple link instead we did group selector above */

#hero{
    background-image: url(../images/background.jpg);
    height: 300px;
    border-top: dashed 5px #ffffcc;
    border-bottom: dashed 5px #ffffcc;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
#hero blockquote{
    font-size: 24px;
    padding: 15px;
    background-color: rgba(200, 100, 100, .5);
    width: 200px;
    border-radius: 20px;
    text-align: center;
    margin: 150px auto;
}
main{
    text-align: center;
}
main article{
    border: solid 2px black;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin: 10px auto;
    height: 350px;
}
/*
main article img{}
main article h1{}
main article p{}
*/
main section {
    background-color: wheat;
    width: 40%;
    display: inline-block;
    margin: 10px;

}

footer{
    background-color: #ffcccc;

}
footer section{
    width: 30%;
    padding: 5px;
    display: inline-block;
    text-align: center;
}
footer nav ul{
    padding: 0;
    margin: 0;
}
footer nav ul li{
    display: inline;
}
